.App {
  text-align: center;
}

body {
  margin: 0;
}

.PageHeading {

}

.PageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.NavBar {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: flex-start; */
  align-items: center;
  background: linear-gradient(#f69d3c, #ebf8e1, #3f87a6);
  border-bottom: 1px black solid;
}

.NavBar a {    
  display: flex;
  margin: 15px;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
}

.logoLink {
  flex: 1;
  order: 0;
  margin: 0;
  color: #000;
  text-decoration: none;
  cursor: default;
}

.NavBar a span:hover {
  cursor: pointer;
}

.navLink {
  order: 1;
  position: relative;
  display: block;
  width: auto;
  text-align: center;
  color: #000;
  transition-duration: 0.4s;
}


.navLink:hover {
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
  /* animation: shake 0.5s; */
  /* animation-iteration-count: indefinite; */
}

.navButton {
  order: 3;
  padding: 5px 7px;
  background-color: #000;
  color: #FFF;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.navButton:hover {
  background-color: transparent;
  color: #000;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: flexstart;

  margin-top: 2%;
  /* padding-left: 15px; */
  border: 5px black dotted;

}

.insideList {
  /* border: 5px red solid; */
  display: flex;
  /* align-items: center; */
  /* padding: 5%; */
  /* justify-content: space-evenly; */
}

.goalText {
  /* border: pink 2px solid; */
}

.insideList button {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}











/* @keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
} */
