* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.75;
  background-color: #446DA3;  /* #3F87A6 */
}

.PageHeading {

}

.PageBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  max-width: 100%;
  min-height: 100vh;
}

 /* Nav Bar CSS Start */
.NavBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: linear-gradient(#f69d3c, #ebf8e1, #446DA3); 
  border-bottom: 1px black solid;
  width: 100%;
}

.NavBar a {    
  display: flex;
  margin: 15px;
  font-size: 1.5rem;
  text-decoration: none;
}

.logoLink {
  margin: 0;
  color: #000;
  text-decoration: none;
}

.navLink {
  position: relative;
  display: block;
  width: auto;
  text-align: center;
  color: #000;
  transition-duration: 0.4s;
}


.navLink:hover {
  text-decoration: underline;
}

.navButton {
  padding: 5px 7px;
  background-color: #000;
  color: #FFF;
  width: 75px;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.navButton.stayRight {
  margin-left: auto;
}

.navButton:hover {
  background-color: transparent;
  color: #000;
}
/* Nav Bar CSS end */

/* Training Info Block start */
.TrainingInfoBlock {
  background-color: rgba(126, 121, 121, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 25px 40% 12.5px 10%;
  animation: slideIn 2.35s forwards;
  -webkit-animation: slideIn 2.35s forwards;
  -moz-animation: slideIn 2.35s forwards;
}

.TrainingInfoBlock h2 {
  text-align: left;
  margin: auto 0 auto 20px;
}

.TrainingInfoBlock p {
  text-align: left;
  margin: 20px;
}
/* Training Info Block end */

/* Tracking Info Block start */
.TrackingInfoBlock {
  background-color: rgba(126, 121, 121, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 12.5px 20%;
  animation: slideIn 2.75s forwards;
  -webkit-animation: slideIn 2.75s forwards;
  -moz-animation: slideIn 2.75s forwards;
}

.TrackingInfoBlock h2 {
  text-align: left;
  margin: 20px;
  
}

.TrackingInfoBlock p {
  text-align: left;
  margin: auto 20px;
}
/* Tracking Info Block end */

/* Sharing Info Block start */
.SharingInfoBlock {
  background-color: rgba(126, 121, 121, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 12.5px 10% 25px 40%;
  animation: slideIn 3.25s forwards;
  -webkit-animation: slideIn 3.25s forwards;
  -moz-animation: slideIn 3.25s forwards;
}

.SharingInfoBlock h2 {
  text-align: left;
  margin: 20px;
}

.SharingInfoBlock p {
  text-align: left;
  margin: auto 20px;
}
/* Sharing Info Block end */
/* HomePage Video CSS start */
.homePageVideoDiv {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-bottom: 1px black solid;
}

.homePageVideo {
  width: 100%;
  transform: translateY(-35%);
}
/* HomePage Video CSS end */

.listItem {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: flexstart;

  margin-top: 2%;
  border: 5px black dotted;

}


.insideList {
  display: flex;
}

/* .goalText {

} */

.insideList button {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

/* Start CSS for footer */
.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px #000  solid;
  width: 100%;
  background: linear-gradient(#446DA3, #cfc9c0, #E1DAD0, #FFFCED); 
}

.footerSection {
  margin: 20px;
}

.homePageContactLink,
.homePageTermsLink {
  text-decoration: none;
  color: #000;
  text-align: left;
}

.homePageContactLink:hover,
.homePageTermsLink:hover {
  text-decoration: underline;
}

/* .leftFooterLink {

} */

.scrollToTopButton {
  font-size: 2rem;
  font-weight: bold;
  background-color: #000;
  color: #FFF;
  width: 75px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
}

.form-row-newsletter {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row-newsletter > label {
  text-decoration: underline;
  padding: .5em 1em .5em 0;
  flex: 1;
}
.form-row-newsletter > input {
  flex: 2;
}
.form-row-newsletter > input {
  padding: .5em;
}
.form-row-newsletter > button {
  padding: 5px 7px; 
  background-color: #000;
  color: #FFF;
  width: 75px;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.form-row-newsletter > button:hover {
  background-color: transparent;
  color: #000;
}

.forScrollToTopButton {
  display: flex;
  justify-content: flex-end;
}

.socialIconsFooter {
  display: inline-block;
  padding: 10px;
  color: #ebf8e1;
}

/* End CSS for footer */



/* Media Queries */
@media screen and (min-width: 768px) {
  .form-row > input {
   flex: 3;  
}
}
@media screen and (min-width: 992px) {
  .form-row > input {
   flex: 4;  
}
}
@media screen and (min-width: 1200px) {
  .form-row > input {
   flex: 5;  
}
}





/* Animation keyframes below here */

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

